@{
    ViewBag.Title = "Certified Technology Reviews";
}

    <div class="row">
        <div class="col-md-12">
            <div class="image">
                <img id="pic" src="~/Content/Images/binary.jpg" />
            <h1 id="head"><span>Creating A Space For Current Technology Reviews</span></h1>
     </div>
            <div class="col-md-6">
            <h2 id="shoulder"><span>Create A Category</span></h2>
            <p1 id="knees"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend, mauris ut porttitor pellentesque, nunc neque dapibus tortor, vitae euismod nulla justo sed metus. Phasellus et ornare leo. Donec sagittis diam ante, sed ultricies lorem congue sed. In sed risus ut risus dignissim tempus. Proin sed urna lorem. Vivamus quis varius neque. Nam ullamcorper laoreet urna in pellentesque.
               </span></p1>
            </div>
            <div class="col-md-6">
                <h2>Write A Review</h2>
            <p2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend, mauris ut porttitor pellentesque, nunc neque dapibus tortor, vitae euismod nulla justo sed metus. Phasellus et ornare leo. Donec sagittis diam ante, sed ultricies lorem congue sed. In sed risus ut risus dignissim tempus. Proin sed urna lorem. Vivamus quis varius neque. Nam ullamcorper laoreet urna in pellentesque.
                </p2>
            </div>
           
        </div>
  
    @*<div class="col-md-5">
        <h2>Create A Category</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend, mauris ut porttitor pellentesque, nunc neque dapibus tortor, vitae euismod nulla justo sed metus. Phasellus et ornare leo. Donec sagittis diam ante, sed ultricies lorem congue sed. In sed risus ut risus dignissim tempus. Proin sed urna lorem. Vivamus quis varius neque. Nam ullamcorper laoreet urna in pellentesque.</p>
        </div>*@
        @*<div class="col-md-5">
        <h2>Write A Review</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend, mauris ut porttitor pellentesque, nunc neque dapibus tortor, vitae euismod nulla justo sed metus. Phasellus et ornare leo. Donec sagittis diam ante, sed ultricies lorem congue sed. In sed risus ut risus dignissim tempus. Proin sed urna lorem. Vivamus quis varius neque. Nam ullamcorper laoreet urna in pellentesque.</p>
        </div>*@
           
        </div>
       
